{% extends "home.html" %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Book Details</title>
    </head>
        <body>
            <div class="container-fluid">
                <table border="1px solid black">
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>pdf</th>

                    </tr>
                    {% for row in rows %}
                    <tr>
                        <td>{{row['name']}}</td>
                        <td>{{row['author']}}</td>
                        <td><a href="{{url_for('upload_file',f=row['pdf'])}}">link</a></td>
                        <td><img src="{{url_for('upload_file',f=row['pdf'])}}" width="250" height="250"></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <a href="/"> Go back to home page</a>
            {% endblock %}
        </body>
    
</html>
